body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: var(--base);
}

ruby {
    font-size: 300px;
    color: var(--text);
    position: relative;
    text-align: center;
}

rt {
    font-size: 0.2em;
    color: var(--subtext0);
    margin-bottom: -50px;
    user-select: none;
}

.english-text {
    text-align: center;
    font-size: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    color: var(--lavender);
}

.previous-option, .next-option, .play-audio {
    background-color: var(--base);
    height: 200px;
    width: 50px;
    cursor: pointer;
    position: absolute;
}

.previous-option {
    left: 1px;
}

.next-option {
    right: 1px;
}

.play-audio {
    bottom: 1px;
}

:root {
    --rosewater: #f4dbd6;
    --flamingo: #f0c6c6;
    --pink: #f5bde6;
    --mauve: #c6a0f6;
    --red: #ed8796;
    --maroon: #ee99a0;
    --peach: #f5a97f;
    --yellow: #eed49f;
    --green: #a6da95;
    --teal: #8bd5ca;
    --sky: #91d7e3;
    --sapphire: #7dc4e4;
    --blue: #8aadf4;
    --lavender: #b7bdf8;
    --text: #cad3f5;
    --subtext1: #b8c0e0;
    --subtext0: #a5adcb;
    --overlay2: #939ab7;
    --overlay1: #8087a2;
    --overlay0: #6e738d;
    --surface2: #5b6078;
    --surface1: #494d64;
    --surface0: #363a4f;
    --base: #24273a;
    --mantle: #1e2030;
    --crust: #181926;
}
